@font-face {
    font-family: North;
    src: url(/Fonts/North\ Avellion.otf);
}
@font-face {
    font-family: Rankings;
    src: url(/Fonts/Rankings\ Caps.otf);
}
@font-face {
    font-family: Bourbon;
    src: url(/Fonts/BourbonGrotesque-Regular+\(1\).otf);
}
#backgroundColor {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 130%;
    margin: 0;

    background-color: rgb(193, 211, 214);
}
#section2 {
    position: absolute;
    left: 0;
    top: 130%;

    width: 100%;
    height: 130%;
    margin: 0;

    background-color: rgb(224, 230, 191);
}
.defaultbg {
    transition: 0.5s;
    background-color: #D2DCE1;
}
.yel {
    transition: 0.5s;
    background-color: #e0dfbe;
}
#backgroundGrid {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1.5fr 444px 20fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
#adventures {
    position: relative;
    top: 50px;
    filter: opacity(0);
    transition: cubic-bezier(.27, .67, .54, 1) 1s;

    grid-area: 2 / 3 / 3 / 4;
    margin: 30px auto auto 30px;
    font-family: Bourbon;
    font-size: 6rem;
    -webkit-text-stroke: 1px rgb(194, 194, 194);
    color: white;
    background-image: url(/imgs/pexels-jaymantri-4827.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: filling 3s ease forwards, fadeIn ease 3s;
}
#lineOne {
    margin: 50px 2px 2px 2px;

    width: 90%;
    border: 2px #143F4C solid;

}

#lineTwo{
    margin: 20px 2px 2px 2px;

    width: 80%;
    border: 2px #2a5563 solid;

}
#portfolioSubTitle {
    grid-area: 2 / 3 / 3 / 4;
    margin: 370px 0px 0px 30px;
    position: relative;

    top: 50px;
    filter: opacity(0);
    transition: cubic-bezier(.27, .67, .54, 1) 1s;

    font-family: 'DM Serif Display', sans-serif;
    font-weight: bold;
    font-size: 30px;
    

}
#portfolioExplain {
    grid-area: 2 / 3 / 3 / 4;
    margin: 420px 0px 0px 30px;
    width: 60%;
    position: relative;

    top: 50px;
    filter: opacity(0);
    transition: cubic-bezier(.27, .67, .54, 1) 0.8s;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    letter-spacing: 0.02em;
    line-height: 1.5em;
}
@keyframes filling {
    from{
      background-position: center 50%;
    }
    to {
      background-position: center 92%;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
#lookingImg {

    position: absolute;
    top: -14px;
    left: -14px;

    height: 100%;
    width: 100%;

    background-image: url("imgs/LookingFinal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#outlineRec {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    top: 50px;

    height: 100%;
    width: 100%;

    border: solid 2px black;

    transition: cubic-bezier(.27, .67, .54, 1) 1s;
    filter: opacity(0);
}

#freshWeather {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    font-family: 'DM Serif Display', sans-serif;
    font-weight: lighter;

    color: rgb(54, 53, 51);
    background: linear-gradient(to top, rgb(208, 223, 228) 50%, transparent 50%);
}


#subscribeHeader {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 32px;

    padding: 15px;
    padding-left: 35px;
    padding-top: 20px;

    width: 50%;
    max-width: 600px;
    height: 180px;

    background:#fff; 
    border-radius: 8px;
}
#mc_embed_signup{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - (70px));
    height: 85px;

    border-radius: 8px;
    border: 2px gray solid;

    background:#fff; 
    clear: left; 
    font: 14px Helvetica,Arial,sans-serif; 
}
#mce-EMAIL {
    position: absolute !important;
    top: 56% !important;
    left: 10px!important;
    transform: translateY(-50%) !important;

    border: none !important;

    font-family: 'DM Serif Display', sans-serif !important;
    font-size: 20px !important;

    display: block;
    width: 28% !important;
    height: 100% !important;
    padding: 0!important;
    text-indent: 4%;
}
#mc_embed_signup .mc-field-group input:focus {
    outline: none;
}
#mc-embedded-subscribe {
    position: absolute !important;
    top: 53.3% !important;
    right: 3%;
    transform: translateY(-50%) !important;

    height: 85.8px !important;
    width: 35% !important;

    font-family: 'DM Serif Display', sans-serif !important;
    font-size: 20px !important;

    clear: none !important;
    background-color: rgb(137, 170, 173) !important; 
    border: 0 none;
    border-radius: 0px 6px 6px 0px!important;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;

    line-height: 32px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#mc_embed_signup .mc-field-group {
    clear: none !important;
    position: absolute !important;
    width: 100% !important;
    padding-bottom: 11px !important;
    min-height: 50px !important;
}

#plainFresh {
    position: absolute;
    top: 140px;
    left: 25%;

    width: 40%;
}
#patternFresh {
    position: absolute;
    top: 200px;
    right: 25%;

    width: 40%;
}
#aboutFresh {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    bottom: 330px;

    font-family: 'DM Serif Display', sans-serif;
    font-size: 28px;

    color: rgb(61, 61, 61);
    background: linear-gradient(to top, rgb(208, 223, 228) 50%, transparent 50%);
}
#descFresh {
    position: absolute;
    left: 0;
    top: 50px;

    width: 195%;

    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;

    line-height: 1.4em;
}
#copyright {
    position: absolute;
    left: 50%;
    bottom: 40px;

    transform: translateX(-50%);

    font-family: 'DM Serif Display', sans-serif;
    font-size: 18px;

    background: linear-gradient(to top, rgb(208, 223, 228) 50%, transparent 50%);
}
#footerRec {
    position: absolute;
    left: 0;
    bottom: calc(-130% - 30% - 280px);

    height: 280px;
    width: 100%;

    background-color: rgb(236, 236, 236);
}